/* Alpine js */
[x-cloak] {
    @apply hidden !important;
}

/* Layout */
:root {
    --navbar-height: 65px;
    --main-height: calc(100vh - var(--navbar-height));
}

.navbar {
    height: var(--navbar-height);
}

.main {
    height: var(--main-height);
}

/* Table header and cells */
th,
td {
    @apply p-2 border border-indigo-200;
}

tr {
    @apply even:bg-indigo-50;
}

/* H1 Heading */
.h1 {
    @apply font-semibold text-indigo-400;
}

/* Hidden columns in small screens */
.hsm {
    @apply hidden lg:table-cell;
}

/* Table cell adjust */
.cog {
    @apply space-x-1 text-center;
}
